<header>
<h1>관리자 헤더</h1>
	<div class="search">
		<form action="/both/searchResultNoMem" method="get" id="searchForm">
			<!-- 검색 -->
			<img src="" style="width:30px; height:30px; margin:10px; transform: scaleX(-1);">
			<input type="search" placeholder="검색" name="search" id="searchBox">
			<input type="submit" value="검색" id="searchBtn">
		</form>
	</div>

	<div id="right">
		<a href="/mem/logout">로그아웃</a>
		<a href="/mem/regForm">정보수정</a>
	</div>
	<nav id="menu" class="navbar">
		<ul>
			<li><a href="/admin/manageP">상품 관리</a></li>
			<li><a href="/mem/myResumeList">주문 목록</a></li>
			<li><a href="/mem/myApplyList">멤버 관리</a></li>
		</ul>
	</nav>
</header>