<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<div th:insert="~{admin/adminHeader.html}" id="header"></div>
<body>
<h1>상품 관리</h1>
<hr>
<button onclick="location.href='/admin/products/add'">상품등록</button>
	<table>
		<thead>
			<tr>
				<th>상품명</th>
				<th>가격</th>
				<th>수량</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list : ${productList}">
				<td><a th:href="@{'/admin/products/edit/' + ${list.pno}}" th:text="${list.pname}"></a></td>
				<td th:text="${list.pprice}"></td>
				<td th:text="${list.pamount}"></td>
			</tr>
		</tbody>
	</table>
</body>
<div th:insert="~{common/footer.html}" id="footer"></div>
</html>